{% extends 'Shop_App/base.html' %}

{% block content %}
<div class="row">
    <div class="col-2 left-side-menu p-2">
        <h1 class="text-light">Short test</h1>
    </div>

    <div class="col-8 main-content p-2">
        <h1>Add products</h1>
        <hr>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success" type="submit">Add product</button>
        </form>
    </div>

    <div class="col-2 right-side-advert p-2">
        <h2>Some adverts</h2>
    </div>
</div>

{% endblock %}