{% extends 'Shop_App/base.html' %}

{% block content %}
<div class="row">
    <div class="col-2 left-side-menu p-2">
        <h1 class="text-light">Short test</h1>
    </div>

    <div class="col-8 main-content p-2">
        <h1>Manage Products</h1>
        <hr>
            {% for product in all_products %}
                <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start dish" alt="Dish image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <p class="card-text"><small class="text-muted">Date added: {{ product.creation_date }}</small></p>
                    </div>
                    <div class="card-footer">
                        <h5>Price: {{ product.price }} zł</h5>
                        <button class="btn btn-outline-success" type="button">Add to chart</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
    </div>

    <div class="col-2 right-side-advert p-2">
        <h2>Some adverts</h2>
    </div>
</div>

{% endblock %}